body,html{
	font-family: 'Roboto', sans-serif;
	background: #cccccc;
	height: 100%;
}



/* Parallax */

.parallax{
	background-image:url('../img/parallax2.jpg');

	height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Jumbotron */
.jumbotron{
	height: 100%;
	line-height: 100px; 
	background-image:url('../img/jumbotron3.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100%;
}

.jumbotron h1{
	font: 600 1.5em/1 'Raleway', sans-serif;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    position: absolute;
    top: 25%;
    width: 100%;
}

.jumbotron span, span:after {
    font-weight: 900;
    color: #efedce;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
}

.jumbotron span {
    font-size: 4em;
    z-index: 100;
    text-shadow: .04em .04em 0 #9cb8b3;
}

.jumbotron span:after {
    content: attr(data-shadow-text);
    color: rgba(0,0,0,.35);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
    -webkit-mask-image: url(https://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png);
}





/* Meniu */

.meniu{
	background-color: #fff;
}

.meniu ul{
	padding: 0;
}

.meniu ul li{
	float:left;
	list-style: none;
	padding: 25px;
	border-right: 1px dashed #333333!important;
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
}

.meniu ul li:last-child{
	border-right: none;
}

.meniu ul li a{
	color:#333333;
	text-decoration: none;

}

.selected{
	color:orange;
	border-right: 1px dashed #333;
	border-bottom: 2px solid orange;
}


.meniu ul li:hover{
	color:orange;
	border-bottom: 2px solid orange;
}

.meniu ul li a:hover{
	color:orange;
}


/* Main Container */

.container{
	margin-top: -200px;
	padding-top: 0;
}


/* Card */

.card h1{
	font-size: 24px;
	color:#333333;
	text-transform: uppercase;
}

.card h2{
	font-size: 18px;
	color:#999;
	text-transform: uppercase;
}

.card .cardContent{
	background-color: #fff;
	padding: 10px;
}

.card .cardSocialMedia{
	text-align: center;
	border-top: 1px dashed #ccc;
	padding: 10px;
}

.card .cardSocialMedia .fab{
	padding: 10px;
	border:1px solid #333;
	border-radius: 50px;
}

.card .cardSocialMedia .fa-facebook-f:hover{
	color:#fff;
	background-color: #3b5998;
}

.card .cardSocialMedia .fa-twitter:hover{
	color:#fff;
	background-color: #1da1f2;
}

.card .cardSocialMedia .fa-instagram:hover{
	color:#fff;
	background-color: #e4405f;
}

.content{
	background-color: #fff;
}

.hrContent{
	border:0;
	border-top:1px dashed #ccc;
}

.card .cardSocialMedia a{
	text-decoration:none;
	color:#333;
}

.footer{
	text-align: right;
}

/* PORTOFLIO */

#webimg{
	float: left;
	height:25%;
	width: 30%;
	padding-right: 15px;

}

.portfolio{
	padding: 25px;
}

.text{
	padding: 10px;
	margin-left: 2px;
}

.portfolio:hover{
	opacity: 0.6;
	
}


/* CONTACT */

.contact{
	background-color: white;

}


/* CONTACT */

.form-group textarea{
	width: 100%;
}

/* LEARN MORE */
 #arrow{
 	font-size: 50px;
 }

 /* TOGGLE CARD */
 .toggleCard:{
 	font-size: 5px;
 }